.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #c8d8decd;
    z-index: 3;
  }
  
  .menu__container {
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    padding-left: 12px;
    padding-right: 20px;
    margin: 10px auto;

    /* .menu__image-container {
        Image {
            width: 110px;
        }
    } */
  }


  .navbar {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-left: auto;

  }