
/* .hidden {
    display: none;
  }
  
    .sign {
      margin-bottom: 5px;
      font-weight: 600;
      font-size: 22px;
      line-height: 1.2;
    }
    p {
      margin-bottom: 5px;
      font-size: 14px;
      color: #898989;
      line-height: 1.7;
      letter-spacing: .7px;
    }
    .form-group{
      label{
        font-size: 12px;
        letter-spacing: 0.4px;
        font-weight: 600;
        padding-top: calc(0.375rem + 1px);
        padding-bottom: calc(0.375rem + 1px);
        margin-bottom: 0;
        font-size: inherit;
        line-height: 1.5;
      }
      input{
        width: 100%;
        margin-top: 5px;
        font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
        padding: calc(10px + (12 - 10) * ((100vw - 320px) / (1920 - 320))) 10px;
        border-radius: 0.25rem;
        border: solid 1px whitesmoke;
        input &:focus{
          border: solid 1px rgb(40, 40, 160);
        }
        &::placeholder{
          opacity: 0.6;
        }
      }
      .forgot{
        text-align: end;
        }
        p{
          display: inline-block;
          color: #898989;
          transition: all 0.2s ease-in-out;
          cursor: pointer;
          &:hover{
            color: rgb(83, 83, 245);
          }
          @media screen and (min-width: 900px) {
            margin-top: 20px;
            margin-bottom: 20px;
          }
        }
      .signin-btn{
        cursor: pointer;
        width: 100%;
        padding: 0.375rem 1.75rem;
        background-color: $primary-color;
        text-align: center;
        color: $white;
        border-radius: 0.25rem;
        box-shadow: 0px 1px 9px 3px rgb(228 228 228 / 81%);
      }
    } */